html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("/assets/bg.jpg");
}

#topContainer{

  #header{
    background-color: white;
    height: 60px;
    display:flex;
    flex-flow: row wrap;

      img{
        background-color: white;
        padding-right: 300px;
      }

      #plusBtn {
        flex:1 0 10px;
        text-align: right;
        font-size: 40px;
        padding-right: 20px;
        border: 1px solid orange;
        color: orange;
        background-color: white;
      }
  }

  nav{
    background-color: green;
    height: 44px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    #random{
    flex: 1 1 40px;
    background-color: grey;
    height: 44px;
    width: 160px;
    border-right: 2px solid white;
    }

    #myBoard{
    flex: 1 1 40px;
    background-color: grey;
    height: 44px;
    width: 160px;
    border-right: 2px solid white;
    }

    #getApp{
    flex: 1 1 40px;
    background-color: grey;
    height: 44px;
    width: 160px;
    }

    .font{
      font-family: 'Oswald', sans-serif;
      font-size: 17px;
      margin: auto;
      padding: 10px;
      text-align:center;
    }
  }
}

#content{

  .postContainer{
    background-color: white;
    height: 480px;
    margin: 15px;

    .post {
      margin: 17px;

      .oswald{
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
      }

      .metaData{
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        color: grey;
      }

      .postContent{
        font-family: 'Lato', sans-serif;
        font-size: 20px;
      }
    }
  }
}