html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald;
}

body{
  background-image: url("/assets/bg.jpg");
}

#topContainer {
  background-color: white;
  padding: 20px 0;

  #header {

  }
  #logo {
    margin-left: 30px;
  }
}


.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 100px;

  .postContainer {
    background-color: white;
    height: 500px;
    width: 450px;
    margin: 20px 15px;

    .post {
      margin: 30px;

    }
  }
}


.imgContainer {
  height: 250px;
  width: 100%;
  overflow: hidden;

  .img {
    height: auto;
    width: 100%;

  }
}

.postHeader {
  margin-top: 20px;
  font-size: 2vw;
}

.author {
  margin-top: 10px;
  font-size: 1vw;
  font-family: Lato;

  span {
    margin-right: 3px;
  }
}